name: Build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    timeout-minutes: 3
    strategy:
      matrix:
        include:
          - os: linux
            arch: arm
          - os: linux
            arch: arm64
          - os: linux
            arch: amd64
          - os: windows
            arch: amd64
          - os: freebsd
            arch: amd64
          - os: openbsd
            arch: amd64

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.x

      - name: Build
        run: go build -ldflags "-s -w" -o . ./...
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
          CGO_ENABLED: 0

      - uses: actions/upload-artifact@v4
        with:
          name: "qtv-${{ matrix.os }}-${{ matrix.arch }}"
          path: |
            qtv-go*
          compression-level: 9